<h1>Adicionar conteúdo</h1>
<hr>

<div class="alert alert-info alert-dismissable">
  <span class="close" data-dismiss="alert">×</span>
  <span><strong>Atenção!</strong> Não se esqueça de atribuir uma categoria à sua publicação.</span>
</div>

<%= render 'form' %>
<br>
<%= link_to 'Voltar', contents_path %>