<h1>Sobre nós</h1>

<p class="lead">Mais informações sobre a FCT TV</p>

<hr>

<p>
    Este projecto foi desenvolvido por <strong>Gonçalo Dias da Silva</strong>, <strong>João Francisco Pinto</strong> e
    <strong>Rui Carvalho</strong> para a unidade curricular <strong>Projecto Integrador</strong> do ano lectivo 2013/2014.
</p>

<p>
    Aqui ficam alguns recursos utilizados para expor o trabalho efectuado:
    <ul>
      <li>
        <a href="https://www.dropbox.com/s/eq4g7vyk7kj5azc/Relatorio%20PI28%20G.pdf" target="_blank">Relatório final</a> - Explicação da arquitectura de software e componentes, além da nossa abordagem perante o problema proposto.
      </li>
      <li>
        <a href="https://www.dropbox.com/s/aztvp6fwd5cjeu5/Final%203.pdf" target="_blank">Poster</a> utilizado para expor a solução: FCT TV.
      </li>
    </ul>
</p>