<h3>Iniciar sessão</h3>
<hr>

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div>
    <%= f.email_field :email, autofocus: true, :placeholder => "Nome de utilizador", hide_label: true %>
  </div>

  <div>
    <%= f.password_field :password, autocomplete: "off", :placeholder => "Palavra-passe", hide_label: true %>
  </div>

  <div>
    <%= f.submit "Iniciar sessão", :class => "btn btn-primary" %>
  </div>
<% end %>