<%= bootstrap_form_for(@playlist_item) do |f| %>
    <div class="field">
      <%= f.collection_select(:content_id, Content.all, :id, :title, prompt: false)%>
    </div>

    <div class="actions">
      <br>
      <%= f.submit "Adicionar conteúdo à lista", class: "btn btn-default" %>
    </div>
<% end %>
