/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require rails_bootstrap_forms
 *= require select2
 *= require select2-bootstrap
 *= require jquery.ui.datepicker
 *= require_tree .
 *= require_self
 */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../assets/glyphicons-halflings-regular.eot');
    src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/glyphicons-halflings-regular.woff') format('woff'),
    url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.calendar {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#calendar_agenda td, #calendar_agenda th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
    overflow: hidden;
}

#calendar_agenda th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
}

#calendar_agenda td {
    background: #FFF;
    color: #777;
    height: 80px;
    vertical-align: top;
    font-size: 16px;
}

#calendar_agenda .notmonth, #calendar_agenda .notmonth a { color: #CCC; }
#calendar_agenda .today { background-color: #D7F2FF; }

#calendar_agenda #month {
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
    font-size: 22px;
}

#calendar_agenda #month a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
}

#calendar_agenda ul {
    font-size: 11px;
    padding-left: 20px;
}

.ui-sortable {
    background-color: #ccc;
    -webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .1);
    box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .1);
    list-style-type: none;
    padding: 0;
}

.ui-sortable li.ui-state-default {
    margin: 0;
    height: 45px;
    line-height: 48px;
    font-size: 1.4em;
    color: #fff;
    outline: 0;
    padding: 0;
    margin: 0;
    text-indent: 15px;
    background-color: red;
    background: rgb(78,82,91);
    background: -moz-linear-gradient(top,  rgb(78,82,91) 0%, rgb(57,61,68) 100%);
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,rgb(78,82,91)), color-stop(100%,rgb(57,61,68)));
    background: -webkit-linear-gradient(top,  rgb(78,82,91) 0%,rgb(57,61,68) 100%);
    background: -o-linear-gradient(top,  rgb(78,82,91) 0%,rgb(57,61,68) 100%);
    background: -ms-linear-gradient(top,  rgb(78,82,91) 0%,rgb(57,61,68) 100%);
    background: linear-gradient(to bottombottom,  rgb(78,82,91) 0%,rgb(57,61,68) 100%);
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(0,0,0,.5);
    text-shadow: -1px -1px 0px rgba(0,0,0,.5);
    font-size: 1.1em;
    position: relative;
    cursor: move;
}
.ui-sortable li.ui-state-default:first-child {
    border-top: 0;
}
.ui-sortable li.ui-state-default:last-child {
    border-bottom: 0;
}

.ui-sortable-placeholder {
    border: 3px dashed #aaa;
    height: 45px;
    background: #ccc;
}
