div {
	 /*border: 1px solid black; */
}

body {
    background-image:url('crossword.png');
}

#nav-bar, #content-box {
	width: 700px;
	margin: 0 auto;
}

#nav-bar {
	height: 30px;
	margin-bottom: 5px;
	border: none;
}

#container{
	padding: 5px;
	border: none;
}

#header {
	height: 50px;
	border: none;
}

#footer {
	margin-top: 50px;
    height: 30px;
}

#footer span {
    margin-left: 15px;
}

#footer ul {
    list-style-type:none;
    float: right;
    margin-right: 15px;
}

#footer li {
    display: inline;
    margin-left: 10px;
}

form .form-control {
    width: 50%;
}