#header div {
	margin: 5px;
}

#logo {
	float: left;
}

#logo img {
    width: 150px;
}

#logout, #upload, #menuButton, #search_box {
	float: right;
}

#search_box {
	width: 20%;
}

#upload, #menuButton, #logout, #search_box {
	border: none;
}

#search_box input {
	width: 100%;
	float: left;
}

.dropdown-menu.right {
    left:auto;
    right:0;
}

#header{

}