#news .content-container {
	height: 205px;
	margin-bottom: 5px;
	border-bottom: 1px solid lightgrey;
}

#news .content-image {
	float: left;
}

#news .content-image img {
    min-width: 200px;
    max-width: 200px;
    max-height: 150px;
    min-height: 150px;
}

#news .content-text {
	float: right;
	width: 480px;
	height: 150px;
}

#news .content-title a, .popular_title a, .readlater_title a {
	color: black;
}

#news .content-description {
	margin-top: 4px;
}

#news .content-image, .content-text {
	margin-top: 5px;
	margin-bottom: 5px;
}

.content-text #pub_date
{
    color: grey;
}

.hidden {
    display: none;
}

.likes_number
{
    color: darkgray;
}

.popular_title {
    line-height: 25px;
}

.content-container .glyphicon {
    top: 2px;
}

.modal-body .glyphicon {
    font-size: 50px;
}

.modal-body {
    text-align: center;
}

.modal-body a {
    font-size: 16px;
}

#ementa {
    text-align: left;
}